<html>
    <head>
         <meta charset="utf-8">
         <title>Welcome</title>
         {% load static%}
         <link rel="stylesheet" href="{% static 'mypeckyspace/style.css' %}">
   </head>
   <body>
        <h1>Welcome to MyPeccySpace!</h1>
        <div class="welcome" >
            <h1>Registration</h1>
            <form action='validate' method='post'>    
                {% csrf_token %}
                <div>
                    <label>
                         Name: <input type="text" name="name" placeholder="Enter your name" style="margin-left: 49px;">
                    </label>
                </div>
                {% for message in messages %}
                    {% if 'name' in message.extra_tags %}
                        <p class="errors">{{message}}</p>
                    {% endif %}
                {% endfor %}
            <div>
                    <br>
                <label>
                    Username: <input type="text" name="username"  placeholder="Enter your username" style="margin-left: 50px;">
                </label>
                  
            </div>
            {% for message in messages %}
                {% if 'user' in message.extra_tags %}
                    <p class="errors">{{message}}</p>
                {% endif %}
            {% endfor%}
            <div>
                    <br>
                <label>
                    Skill: 
                    <select name="skill">
                            <option value="none">Select</option>
                            <option value="IIDP">IIDP</option>
                            <option value="FBA">FBA</option>
                            <option value="M@">M@</option>
                    </select>
                </label>
            </div>
            {% for message in messages %}
                {% if 'skill' in message.extra_tags %}
                    <p class="errors">{{message}}</p>
                {% endif %}
            {% endfor%}
            <div>
                <label>
                    Location: 
                    <select name="location">
                        <option value="none">Select</option>
                        <option value="AZA">AZA</option>
                        <option value="SJO">SJO</option>
                        <option value="GFK">GFK</option>
                        <option value="SEA">SEA</option>
                        <option value="HYD">HYD</option>
                    </select>
                </label>
            {% for message in messages %}
                {% if 'location' in message.extra_tags %}
                    <p class="errors">{{message}}</p>
                {% endif %}
            {% endfor%}
            </div>
            <div>
                <br>
                    <label>
                    Email: <input type="email" name="email"  placeholder="Enter Amazon email address" style="margin-left: 80px;">
                </label>
            </div>
            {% for message in messages %}
                {% if 'email' in message.extra_tags %}
                    <p class="errors">{{message}}</p>
                {% endif %}
            {% endfor%}
            <div>
                    <br>
                <label>
                    Password: <input type="password" name="password"  placeholder="Create a password (8 char)" style="margin-left: 57px;" >
                </label>
                <!-- <p>*Password should be at least 8 characters</p> -->
            </div>
            {% for message in messages %}
                {% if 'password' in message.extra_tags %}
                    <p class="errors">{{message}}</p>
                {% endif %}
            {% endfor %}
            <div>
                    <br>
                    <label>
                        PW Confirmation: 
                        <input type="password" name="pw_confirmation"  placeholder="Re-enter your password" style="margin-left: 5px;">
                    </label>
            </div>
            {% for message in messages %}
                {% if 'pw_confirmation' in message.extra_tags %}
                    <p class="errors">{{message}}</p>
                {% endif %}
            {% endfor %}
            

                <input type="submit" value="Register" style="margin:20px 20px 20px 220px;">
         </form>
       </div>
        <div class ="welcome">
            <h1>Login</h1>
            {% for message in messages %}
                {% if 'login' in message.extra_tags %}
                    <p class="errors">{{message}}</p>
                {% endif %}
            {% endfor %}
            <form action='login' method='post'>
                {% csrf_token %}
                <div> 
                    <label>
                        Email: 
                        <input type="email" name="email"  placeholder="Enter your email address" style="margin-left: 80px;">
                    </label>
                </div>
                <div>
                    <br>
                    <label>
                        Password: 
                        <input type="password" name="password"  placeholder="Enter your password" style="margin-left: 57px;" >
                    </label>
                </div>
                <input type="submit" value="Login" style="margin:20px 20px 20px 240px;">
            </form>
        </div>
    </body>
</html>
         