<html>
    <head>
         <meta charset="utf-8">
         <title>Post:'{{post.title}}'</title>
         {% load static %}
         <link rel="stylesheet" href="{% static 'mypeckyspace/css/post.css' %}">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
         <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
         <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Lora" rel="stylesheet">
    </head>
    <body>
      <main>
          <div id="links" align='center'>
              <a href="/dashboard" class="btn btn-light">Home <i class="fas fa-home"></i></a>
              <a href="/" class="btn btn-light">Logout <i class="fas fa-sign-out-alt"></i></a>
          </div>
            <h2>{{post.title}}</h2>
            <p>{{post.content}}</p>
            {% if post.upload %}
                <a href="{{post.id}}/file"><img src="{{post.upload.url}}" width="100" alt="Attached File" class="img-thumbnail"></a>
            {% endif %}

            <h4>Posted by <a href="/user/{{post.creator.id}}">{{post.creator.username}}</a> <a href="/user/{{post.creator.id}}"><img src="{{post.creator.image.url}}" width="30" height="30" alt="User's Image"></a> on {{post.created_at}}</h4>

            {% if post.creator.id == request.session.id %}
            <form action="{{post.id}}/uploadfile" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="myfile">
                <button type="submit">Upload</button>
            </form>
            {% endif %}
                    <br>

                <div class="comments">

                    <h4>Comments:</h4>
            {% for comment in comments %}
                {% if comment.post.id == post.id %}

                    <p>{{comment.text}}</p>
                    <p><a href="/user/{{comment.commenter.id}}">{{comment.commenter.username}} <img src="{{comment.commenter.image.url}}" width="20" height="20" alt="User's Image"></a> commented on {{comment.created_at}}</p>
                    <br>
                    {% if comment.commenter.id == request.session.id  %}
                    <form action="comment/{{comment.id}}/delete" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete">
                    </form>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <form action="{{post.id}}/comment" method="post">
                {% csrf_token %}

                  <input type="text" name="text" placeholder="Enter comment" class="comment_entry">


                  <input type="submit" value="Comment" class="btn btns">

            </form>

            </div>

            <br>

            <div id="postbox">
                   <form action="/add" method="post" enctype="multipart/form-data">
                       {% csrf_token %}

                       <div class="form-group col-md-12">
                           <h3>Add Question or Share your knowledge:</h3>
                           <div class="row">
                               <label for="title">Title</label>
                           </div>
                           <input type="text" name="title" placeholder="Enter title">
                       </div>
                       <div class="form-group col-md-6">
                           <div class="row">
                               <label for="text">Question or Post</label>
                           </div>
                           <textarea rows=5 cols=25 type="text" name="content" placeholder="Enter text"></textarea>
                       </div>
                       <div class="row">
                           <label for="myfile">Screenshot:</label>
                       </div>
                           <input type="file" name="myfile">
                           <i class="fas fa-cloud-upload-alt"></i> <input class="btn btn-lg mb-4" type="submit" value="Post">
                   </form>
               </div>
        </main>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
