<html>
    <head>
         <meta charset="utf-8">
         <title>User {{request.session.name}}</title>
         {% load static %}
         <link rel="stylesheet" href="{% static 'mypeckyspace/style.css' %}">
    </head>
    <body>
        <main>
            <div id="links">
                <a href="/dashboard">Home</a> 
                <a href="/">Logout</a> 
            </div>
            <h1>{{user.name}}'s profile</h1>
            <h3>Username: {{user.username}}</h3>
            <h3>Location: {{user.location}}</h3>
            <h3>Skill set: {{user.skill}}</h3>
            <h3>Awards:</h3>
            <ul>
            {% for award in awards %}
                {% if award.users.id == request.session.id %}
                    <li>{{award.award}}</li>
                {% endif %}
            {% endfor %}
            </ul>
            {% if award.users.id == request.session.id %}
            <form action="/awards" method="post">
                {% csrf_token %}
                <label> 
                       <input type="text" name="award" placeholder="Enter award" style="margin-left: 49px;">
                       <input type="hidden" name="user_id" value="{{user.id}}">
                </label>
                <input type="submit" value="Add award">
            </form>
            {% endif %}
            {% if user.image %}
                <p><img src="{{user.image.url}}" width="200" alt="User's Image"></p>
            {% else %}
                <p><img src="static/media/peccy.png" width="200" alt="User's Image"></p>
            {% endif %}
            {% if user.id == request.session.id %}
                <a href="{{user.id}}/edit">Edit my portfolio</a>
            {% endif %}
        </main>
    </body>
</html>