body {
  background-image: url('http://contenidos.enter.co/custom/uploads/2016/11/banner-1544x500FINAL.jpg');
}

#links a {
  color: #ff9800;
}

main {
  font-family: 'Raleway', sans-serif;
}

ul li {
  list-style-type: none;
  text-align: center;
}

.btn {
  background-color: #ff9800;
}
