body{
    width:1000px;
}
    
.welcome {
    display:inline-block; 
    vertical-align:top; 
    border:3px solid black; 
    margin:20px; 
    padding:20px;
}

#links {
    position: relative;
    left:800px;
}

.errors {
    color:red;
    font-weight:bold;
    padding-left:20px;
}

label {
    display:block;
    margin:15px;
    font-weight:bold;
}

input {
    float:right;
}